<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Podcast Shuffle</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'index.css' %}">
</head>
<body>
    <div id="wrapper">
        <div id="header">
            <h1 id="head1">Podcast Shuffle</h1>
            <div id="head2">
                <a class="open-button" href="/account/{{ request.session.user_id }}">Account</a>
                <a class="open-button" href="/logout">Logout</a>
                <a class="open-button" href="/library">Library</a>
            </div>
        </div>
        <div id="container">
            
            <div id="main_content">
                <div id="title">Playlist</div>
                <div class="playlist">
                    <h1>Placeholder</h1>

                </div>
            </div>
        </div>
        <footer>
            <div id="foot">
                Powered by Spotify
            </div>
        </footer>
    <div>
</html>