<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Podcast Shuffle</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'index.css' %}">
</head>
<body>
    <div id="wrapper">
        <div id="header">
            <h1 id="head1">Podcast Shuffle</h1>
            <div id="head2">
                <a class="open-button" href="/account/{{ request.session.user_id }}">Account</a>
                <a class="open-button" href="/logout">Logout</a>
                <a class="open-button" href="/library">Library</a>
            </div>
        </div>
        <div id="container">
            
            <div id="main_content">
                <div id="title">Playlist</div>
                <div class="playlist">
                    <iframe src="https://embed.spotify.com/?uri=spotify%3Auser%3Aspotify%3Aplaylist%3A37i9dQZF1DWUmBkBFPg2H7" width="830" height="550" frameborder="0" allowtransparency="true"></iframe>
                    <button>Shuffle</button>
                </div>
            </div>
        </div>
        <footer>
            <div id="foot">
                Powered by Spotify and iTunes
            </div>
        </footer>
    <div>
</html>