<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Podcast Shuffle</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'index.css' %}">
    <script src="https://spotify-player.herokuapp.com/spotify-player.js"></script>
</head>
<body>
    <div id="wrapper">
        <div id="header">
            <h1 id="head1">Podcast Shuffle</h1>
            <div id="head2">
                <a class="open-button" href="/account/{{ request.session.user_id }}">Account</a>
                <a class="open-button" href="/logout">Logout</a>
                <a class="open-button" href="/home">Playlist</a>
            </div>
        </div>
        <div id="container">
            
            <div id="main_content">
                <div id="title">Podcast Library</div>
                <div class="subcontents">
                    <iframe src="https://open.spotify.com/embed/episode/5WJIYOCTMLGiKMtwiMitxk" width="253" height="280" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
                </div>
                <div class="subcontents">
                    <iframe src="https://open.spotify.com/embed/episode/1SrNoIb5cKC9ThQeYlXsgf" width="253" height="280" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
                </div>
                <div class="subcontents">
                    <iframe src="https://open.spotify.com/embed/episode/1vCD3EB8RlChV2B1G8lChV" width="253" height="280" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
                </div>
                <div class="subcontents">
                    <iframe src="https://open.spotify.com/embed/episode/7E0NGYmDHIgw6Xrikp3zP8" width="253" height="280" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
                </div>
                <div class="subcontents">
                    <iframe src="https://open.spotify.com/embed/episode/4FVHb8BqD0R9zgiDi6bdd8" width="253" height="280" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
                </div>
                <div class="subcontents">
                    <iframe src="https://open.spotify.com/embed/episode/6xtmgTrXnXxdemWEu54t6t" width="253" height="280" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
                </div>
            </div>
        </div>
        <footer>
            <div id="foot">
                Powered by Spotify
            </div>
        </footer>
    <div>
</html>